---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout title="Nerak Observer">
	<main>
		<section class="bg-black h-screen">
  	<div class="customContainer text-white">
    	<h1 class="display">nerak observer</h1>
  	</div>
	</section>
	</main>
		
</BaseLayout>

<style>
	
</style>
