---
import BaseLayout from '../layouts/BaseLayout.astro';
import wild_west from '../assets/images/Wild_west.jpg';
import portrait_karen from '../assets/images/Portrait_karen.jpg';

import logo from '../assets/icons/logo.svg'
---
<BaseLayout title="Nerak Observer">
	<header class="pt-6">
			<nav id="top-nav" class="customContainer flex flex-row justify-between px-6">
				<div id="logo">
					<a href="/" class="font-serif">NeraK Observer</a>
				</div>
				<nav class="hidden md:flex space-x-12 items-end">
					<a href="http://">Le Blog</a>
				</nav>
				<button id="mobile-menu" class="md:hidden">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
				</button>
			</nav>
	</header>
	<section id="hero" class="h-screen max-h-[720px] pt-8">
		<hero class="customContainer h-full w-full flex flex-wrap md:flex-nowrap">
        
		  <nav id="sideNav" class="hidden md:flex flex-col justify-center space-y-6 text-white text-base h-full">
			  <a href="#" class="sideNav-Item">Exposition</a>
			  <a href="#" class="sideNav-Item">K.</a>
			  <a href="#" class="sideNav-Item">Gallerie</a>
		  </nav>
		  <div id="heroContent" class="relative w-full flex-flex-col align-center">
				<img src={wild_west} alt="" class="w-full h-full object-cover object-right-bottom">
				<div class="absolute bottom-0 titleBlock text-left p-5 md:p-6 lg:p-8 md:w-4/5 lg:w-2/3 xl:w-1/2">
					<h1 class="display text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold text-white font-serif leading-none">
						NERAK <br> OBSERVER
					</h1>
				  <p class="underTitle text-white space-y-8 prose">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eaque maiores ipsum perspiciatis illum adipisci modi consequuntur placeat autem delectus?
					</p>
				</div>
		  </div>
		</hero>
	</section>

	<section id="blockquote" class="bg-black px-6">
		<div class="customContainer grid grid-cols-1 place-items-center">
			<div class="max-w-[900px] prose">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--icomoon-free" width="32" height="32" viewBox="0 0 16 16"><path fill="#FFC839" d="M3.516 7a3.5 3.5 0 1 1-3.5 3.5L0 10a7 7 0 0 1 7-7v2a4.97 4.97 0 0 0-3.536 1.464a5.01 5.01 0 0 0-.497.578c.179-.028.362-.043.548-.043zm9 0a3.5 3.5 0 1 1-3.5 3.5L9 10a7 7 0 0 1 7-7v2a4.97 4.97 0 0 0-3.536 1.464a5.01 5.01 0 0 0-.497.578c.179-.028.362-.043.549-.043z"></path>
					</svg>
        <blockquote class="w-full text-white">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in omnis commodi saepe tempora impedit alias magnam officiis ratione quasi.</p>
				</blockquote>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--icomoon-free" width="32" height="32"viewBox="0 0 16 16"><path fill="#FFC839" d="M12.5 10A3.5 3.5 0 1 1 16 6.5l.016.5a7 7 0 0 1-7 7v-2a4.97 4.97 0 0 0 3.536-1.464a5.01 5.01 0 0 0 .497-.578a3.547 3.547 0 0 1-.549.043zm-9 0A3.5 3.5 0 1 1 7 6.5l.016.5a7 7 0 0 1-7 7v-2a4.97 4.97 0 0 0 3.536-1.464a5.01 5.01 0 0 0 .497-.578a3.547 3.547 0 0 1-.549.043z"></path></svg>
			</div>
		</div>
	</section>

	<section id="about" class="py-0 bg-white text-black grid grid-cols-1 place-content-center lg:grid-cols-2 gap-5">
		<img src={portrait_karen} alt="" class="h-full w-full object-cover inset-0">
		<div class="aboutText p-6 w-full py-16">
				<h2>Things you should know about me</h2>
				<div class="space-y-6">
					<div class="traveller">
						<div class="text-block">
							<h3>I am a traveller</h3>
						  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem nisi, provident ducimus expedita fuga blanditiis est. Architecto ad facilis soluta!
							</p>
						</div>
						<div class="traveller-links">
							<a href="#">Instagram</a>
							<a href="something"></a>
						</div>
					</div>
					<div class="writer">
						<div class="text-block">
							<h3>I am a writer</h3>
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, neque laudantium omnis deserunt debitis corporis.
							</p>
						</div>
						<div class="weiter-links">
							<a href="#">FNAC</a>
							<a href="Les libraires"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
  <section id="gallery" class="">
		<div class="customContainer">
      <div class="groupTitle mb-8">
				<h2>Gallerie de photos</h2>
			  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium debitis quasi minus natus sequi non pariatur accusantium deleniti, facere aperiam?</p>
			</div>
      
			<div class="mx-auto grid max-w-screen-2xl grid-flow-col grid-rows-6 gap-4">
      <div class="gridItem">
        <img src="https://images.unsplash.com/photo-1656710539338-ea706b2c6222?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" />
      </div>
      <div class="gridItem landscape">
        <img src="https://images.unsplash.com/photo-1656675844970-b001101f6043?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="aspect-video" />
      </div>
      <div class="gridItem">
        <img src="https://images.unsplash.com/photo-1656709959289-d8772d63d29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" />
      </div>
      <div class="gridItem landscape">
        <img src="https://images.unsplash.com/photo-1601806206217-97fdee6fb97b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80" alt="" />
      </div>
      <div class="gridItem">
        <img src="https://images.unsplash.com/photo-1656670425795-76e1e626a1da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" />
      </div>
      <div class="gridItem">
        <img src="https://images.unsplash.com/photo-1655836110878-52641868ab3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" />
      </div>
      <div class="gridItem landscape">
        <img src="https://images.unsplash.com/photo-1655667995118-56d57c6f628e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1014&q=80" alt="" />
      </div>
      <div class="gridItem">
        <img src="https://images.unsplash.com/photo-1654159454129-1c455da00346?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80" alt="" />
      </div>
      <div class="gridItem">
        <img src="https://images.unsplash.com/photo-1531123897727-8f129e1688ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsYWNrJTIwd29tYW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" />
      </div>
      
    </div>

		</div>
    
  </section>

</BaseLayout>

<style>

	.sideNav-Item {
		writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: right;
 	};
	
</style>
